.details {
  margin: 20px;
  position: relative;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 20px;
  background-color: #e3dff2;

  button {
    background-color: #8694a6;
    border-radius: 10px;
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 2px #8694a6;
    border: 1px solid #736c48;
    position: absolute;
    bottom: -50px;
    width: 200px;

    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
}

.text {
  height: 100%;
  text-align: center;
  font-size: 28px;
  position: relative;
  top: 40%;
}
