.container {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.text {
  height: 100%;
  text-align: center;
  font-size: 28px;
  position: relative;
  top: 40%;
}
